@media (max-width: 1200px)
  .container
    max-width: 960px
  .other-packages
    &-card
      &__info
        &--big
          padding-left: 36px
      &__long-description
        max-height: 176px
        margin-bottom: 34px
        font-size: 14px
        line-height: 22px
      &__room
        margin-bottom: 24px
  .hotel
    &-slider
      width: 590px
  .activities
    padding-bottom: 49px
    .card
      max-width: 230px
      max-height: 230px
  .modal
    &__button
      order: 1
    &__info
      margin-bottom: 15px
      min-width: 100%
      margin-left: 0
  .footer
    &__item
      max-height: 110px
@media (min-width: 992px)
  .button
    &:hover
      background-color: $hover-button
  .navbar
    &-menu
      &__link
        &:hover
          color: $hover-color
  .search,
  .subscribe,
  .card
    &__button
      &:hover
        background-color: $hover-button
  .user
    &__name
      &:hover
        color: $footer-text-color
  .booking
    &__num
      &:hover
        color: $footer-text-color
  .footer
    &__link,
    &__policy-item
      &:hover
        color: $footer-text-color
    &__phone,
    &__mail
      &:hover
        color: $light
  .thank-you
    &__button
      &:hover
        background-color: $hover-button
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .newsletter
    padding-top: 91px
    padding-bottom: 93px
  .logo
    width: 132px
  .breadcrum-list
    padding: 20px 0
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
      &__search
        margin-left: 47px      
    &-menu
      padding: 21px 14px
      &__link
        font-size: 12px
        line-height: 15px
      &__item
        max-width: 135px
        font-size: 12px
        line-height: 15px
  .user
    &__name
      margin-bottom: -3px
  .search
    &__input
      width: 340px
  .hotel
    padding-top: 12px
    padding-bottom: 60px
    &-wrapper
      &__stars
        margin-left: 2px
        margin-top: 1px
      &__offer
        margin-left: 15px
    &-grid
      display: flex
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 28px
    &-data
      flex-direction: row
    &-info
      &__rating
        margin-top: 5px
  .space
    &::after
      content: ' '
  .other-packages
    &__title
      max-height: 114px
      font-size: 30px
      line-height: 38px
    &-grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 20px
    &__card
      &-main
        grid-column: span 1
        &--big
          flex-direction: column
      &-4
        display: none
    &__stars
      display: none
    &-card
      &__card-title
        font-size: 18px
        line-height: 23px
        margin-bottom: 19px
      &__wrapper
        &-image
          height: 223px
          &--big
            width: 100%
            min-height: 223px
            overflow: hidden
      &__offer
        display: none
      &__long-description
        display: none
        max-height: 176px
      &__text
        display: flex
        align-items: center
        margin-bottom: 5px
      &__room
        margin-bottom: 19px
      &__info
        &--big
          width: 100%
          height: 50%
        padding: 24px 20px 25px 20px
  .booking
    width: 340px
    padding: 30px 22px 26px 23px
    margin-bottom: 0
  .map
    width: 340px
  .reviews
    padding-top: 40px
    &__title
      max-height: 114px
      margin-left: -2px
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        padding: 0 60px 30px
      &__button
        top: 50%
        &--prev
          left: 2px
        &--next
          right: 2px
      &__text
        max-height: 133px
        margin: 1px 0 0 4px
  .activities
    padding-top: 50px
    &__card
      margin-bottom: 20px
    &-wrapper
      flex-wrap: wrap
    .card
      min-width: 340px
      min-height: 255px
      margin-left: 0
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: minmax(120px, 161px) minmax(120px, 261px) minmax(120px, 202px)
      column-gap: 38px
      row-gap: 47px
    &__wrapper-logo
      grid-column: 1 / 1
      grid-row: 1
    &__logo
      width: 95px
      margin-top: 0
    &__social
      &-network
        margin-top: 10px
        margin-left: -13px
        grid-column: 2 / 4
        grid-row: 1
        align-self: center
    &__categories
      grid-column: 1 / 1
      grid-row: 2
    &__additional
      grid-column: 2 / 2
      grid-row: 2
    &__legal
      grid-column: 3 / 3
      grid-row: 2
    &__title
      &--margin-contact-details
        margin-top: 14px
        margin-left: 0px    
        margin-bottom: 24px
      &--margin-contact
        margin-top: 10px
      &--margin-social-network
        max-width: 344px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
      margin-bottom: 22px
      margin-left: 0
    &__item
      max-height: 88px
      &--margin-map
        margin-bottom: 13px
    &__icon
      margin-top: 5px
      margin-left: 8px
      &-wrapper
        min-width: 45px
    &__contact
      &-details
        grid-column: 1 / 4
        grid-row: 3
      &-form
        grid-column: 1 / 4
        grid-row: 4
        width: 539px
    &__input
      width: 255px
    &__policy
      margin-top: 63px
      margin-left: 2px
      justify-content: space-between
    .modal
      &__dialog
        min-width: 452px
@media (max-width: 767px)
  .container
    max-width: 700px
    width: 87%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &-fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &-top
      &__user,
      &__search
        &--mobile
          &--hidden
            display: none
      &__search
        margin-bottom: 15px
      &__user
        flex-direction: column
        justify-content: center
    &-bottom
      padding-top: 8px
      display: none
      position: fixed
      top: 78px
      left: 0
      right: 0
      bottom: 0
      &--visible
        overflow: auto
        display: block
      &__user
        display: flex
        flex-direction: column
      &__search
        width: 243px
        margin-left: 0
        margin-bottom: 9px
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
            margin-bottom: 30px
            max-width: 257px
            max-height: 100px
  .logo
    width: 99px
    height: auto
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #ffffff
      cursor: auto
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__avatar
      &--margin
        margin-top: 3px
    &__name
      &--light
        max-width: 233px
        text-align: center
        max-height: 34px
        color: $light
        margin-left: 0
        margin-top: 10px
        cursor: auto
  .hotel
    padding-bottom: 40px
    padding-top: 1px
    &-name
      max-width: 100%
      flex-basis: 100%
    &-info
      padding-bottom: 38px
      &__text
        width: 100%
    &-slider
      height: 350px
    &-data
      flex-direction: column
  .other-packages
    &__title
      max-height: 69px
      font-size: 18px
      line-height: 23px
    &-grid
      grid-template-columns: 1fr
    &-card
      &__wrapper-image
        height: 187px
        &--big
          min-height: 187px
  .booking
    width: 100%
    margin-bottom: 20px
    &__price, &__heading
      max-width: 213px
    &__description, &__num
      max-width: 190px
  .hotel-wrapper
    justify-content: space-between
    &__offer
      order: -1
      margin-left: 0
    &__name
      margin-top: 10px
    &__stars
      margin-right: 17px
  .stars
    flex-basis: auto
  .rating
    display: none
  .map
    width: 100%
    height: 173px
  .newsletter
    &-wrapper
      max-width: 700px
      width: 88%
      flex-direction: column
      align-items: flex-start
    &-title
      max-width: 100%
      margin-bottom: 37px
  .reviews
    &__title
      max-height: 70px
      font-size: 18px
      line-height: 23px
      margin-bottom: 43px
    &-slider
      &__item
        max-width: 580px
        padding: 0 31px 36px
        &:before, &:after
          display: none
      &__text
        max-height: 140px
        max-width: 455px
      &__button
        top: 28px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -89px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -89px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    .card
      min-width: 49%
      height: 255px
  .footer
    &__input
      width: 100%
      &-group
        width: 48%
    &__contact
      &-form
        grid-column: 1/4
        width: 100%
    &__item
      &-wrapper
        margin-right: 0
    &__title
      &--margin-social-network
        max-width: 200px
  .modal
    &__dialog
      padding: 33px 55px
      min-width: 370px
    &__button
      width: 100%
    &__message
      margin-bottom: 15px
    &__info
      max-width: 224px
@media (max-width: 576px)
  .navbar
    &-top
      padding-top: 22px
      padding-bottom: 30px
    .menu-button
      margin-top: 7px
  .breadcrum-list
    padding: 11px 0 20px 0
  .hotel
    padding-bottom: 0
    &-wrapper
      &__name
        margin-top: 10px
      &__offer
        margin-left: 2px
      &__stars
        margin-right: 15px
        margin-top: -4px
    &-slider
      height: 179px
    &__slider
      margin-bottom: 20px
    .space
      &::after
        content: ''
  .other-packages
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 43px
    &-card
      &__room
        margin-bottom: 18px
      &__old-price
        font-size: 12px
        line-height: 15px
      &__pricetag
        font-size: 20px
        line-height: 25px
      &__button
        font-size: 12px
        line-height: 16px
      &__card
        &-title
          font-size: 18px
          line-height: 23px
  .booking
    padding: 29px 19px 26px 23px
    &__price, &__heading
      max-width: 127px
    &__description, &__num
      max-width: 80px
    &__num
      margin-right: 4px
      margin-left: 8px
  .subscribe
    width: 100%
    &__input
      padding-left: 21px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
  .reviews
    padding-top: 41px
    padding-bottom: 49px
    &__title
      max-height: 69px
    &-slider
      &__text
        max-height: 286px
        min-width: 218px
        margin: 1px -1px 0 0px
        text-align: start
      &__profile
        margin-left: -3px
  .activities
    padding-bottom: 40px
    &__card:nth-child(1)
      order: 1
    &__card:nth-child(2)
      order: 3
      margin-bottom: 20px
    &__card:nth-child(3)
      order: 2
      margin-bottom: 28px
    &__card:nth-child(4)
      order: 4
    &__title
      max-height: 48px
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    .card
      min-width: 100%
      &__button
        max-width: 100%
  .footer
    padding-top: 67px
    &__input
      &-group
        margin-top: 15px
        width: 100%
        margin-left: -2px
        &:first-child
          margin-top: 0
    &-wrapper
      grid-template-columns: 1fr
      row-gap: 28px
    &__logo
      margin-left: -1px
      width: 97px
      &-wrapper
        grid-row: 1
        grid-column: 1
    &__social
      &-network
        flex-wrap: wrap
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__list
      max-width: 278px
    &__image
      margin-top: 3px
      margin-left: 3px
    &__title
      max-width: 278px
      flex-basis: 100%
      margin-top: 1px
      &--margin-social-network
        display: block
        margin: 0 0 17px 0
        min-width: 100%
      &--margin-contact-details
        margin-bottom: 25px
        margin-left: -2px
        margin-top: 12px
      &--margin-contact
        margin-top: 29px
        margin-bottom: 15px
        margin-left: -2px
    &__text
      max-width: 278px
      max-height: 63px
      margin-left: -2px
      margin-bottom: 20px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__icon
      margin-top: 4px
      margin-left: 4px
      &-wrapper
        min-width: 30px
    &__mail
        max-height: 44px
        max-width: 239px
    &__item
      max-height: 110px
      max-width: 100%
      &-wrapper
        max-width: 279px
        margin-bottom: 13px
      &--margin-map
        margin-bottom: 22px
      &-text
        max-height: 66px
        max-width: 239px
    &__link
      margin-right: 7px
      width: 100%
      &-phone
        max-width: 239px
        max-height: 110px
    &__input
      order: 1
    &__message
      order: 2
      margin-bottom: 15px
    &__button
      order: 4
    &__info
      order: 3
      flex-basis: 100%
      margin-bottom: 15px
      max-width: 278px
    &__policy
      flex-wrap: wrap
      margin-top: 29px
      margin-left: -2px
      &-item
        margin-right: 9px
      &-item:last-child
        margin-right: 0
        &-image
          width: 136px
          height: 22px
          flex-shrink: 0
      &-payment
        position: relative
  .modal
    &__dialog
      min-width: 278px
      padding: 33px 26px
    &__title
      max-width: 226px