@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .activities
    padding-bottom: 49px
    .card
      max-width: 230px
      max-height: 230px
  .footer
    &__item-wrapper
      margin-right: 202px
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .newsletter
    padding-top: 89px
    padding-bottom: 93px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
      &__search
        margin-left: 47px
    &-menu
      padding: 23px 14px
      &__link
        font-size: 12px
        line-height: 15px
      &__item
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      display: flex
      flex-direction: column
    &-slider
      width: 100%
    &__slider
      margin-bottom: 30px
    &-data
      flex-direction: row
  .other-packages
    &-grid
      grid-template-columns: repeat(auto-fill, minmax(300px, 350px))
      column-gap: 20px
      row-gap: 20px
  .booking
    width: 340px
    padding: 29px 22px 26px 23px
    margin-bottom: 0
  .map
    width: 340px
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        padding: 0 60px 30px
      &__button
        top: 50%
        &--prev
          left: 2px
        &--next
          right: 2px
  .activities
    padding-top: 50px
    &__card
      margin-bottom: 20px
    &-wrapper
      flex-wrap: wrap
  .card
    min-width: 339px
    min-height: 255px
    margin-left: 0
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: minmax(120px, 161px) minmax(120px, 261px) minmax(120px, 202px)
      column-gap: 38px
      row-gap: 46px
    &__wrapper-logo
      grid-column: 1 / 1
      grid-row: 1
    &__logo
      width: 95px
      margin-top: 0
    &__social
      &-network
        margin-top: 10px
        margin-left: -13px
        grid-column: 2 / 4
        grid-row: 1
        align-self: center
    &__categories
      grid-column: 1 / 1
      grid-row: 2
    &__additional
      grid-column: 2 / 2
      grid-row: 2
    &__legal
      grid-column: 3 / 3
      grid-row: 2
    &__title
      &--margin-contact-details
        margin-top: 14px
        margin-left: 0px
      &--margin-contact
        margin-top: 13px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
      margin-bottom: 22px
      margin-left: 0
    &__item
      &--margin-map
        margin-bottom: 16px
    &__icon
      margin-top: 2px
      margin-left: 8px
      &-wrapper
        min-width: 45px
    &__contact
      &-details
        grid-column: 1 / 4
        grid-row: 3
      &-form
        grid-column: 1 / 4
        grid-row: 4
        width: 539px
    &__input
      width: 255px
    &__message
      //width: 539px
    &__policy
      margin-top: 57px
      justify-content: space-between
@media (max-width: 768px)
  .container
    max-width: 700px
    width: 87%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &-fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &-top
      &__user,
      &__search
        &--mobile
          &--hidden
            display: none
          &--visible
            display: flex
      &__search
        margin-bottom: 15px
      &__user
        flex-direction: column
        justify-content: center
      &__search
        width: 243px
        margin-left: 0
    &-bottom
      padding-top: 8px
      display: none
      position: fixed
      top: 78px
      left: 0
      right: 0
      bottom: 0
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
            margin-bottom: 26px
  .logo
    width: 99px
    height: auto
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #ffffff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .hotel
    padding-bottom: 40px
    padding-top: 1px
    &-name
      max-width: 100%
      flex-basis: 100%
    &-info
      padding-bottom: 38px
      &__text
        width: 100%
    &-slider
      height: 350px
    &-data
      flex-direction: column
  .booking
    width: 100%
    margin-bottom: 20px
    &__price, &__heading
      max-width: 213px
    &__description, &__num
      max-width: 190px
  .hotel-wrapper
    justify-content: space-between
    &__offer
      order: -1
      margin-left: 0
    &__name
      margin-top: 10px
    &__stars
      margin-right: 17px
  .stars
    flex-basis: auto
  .rating
    display: none
  .map
    width: 100%
    height: 173px
  .newsletter
    &-wrapper
      max-width: 700px
      width: 88%
      flex-direction: column
      align-items: flex-start
    &-title
      max-width: 100%
      margin-bottom: 37px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 43px
    &-slider
      &__item
        max-width: 580px
        padding: 0 31px 36px
        &:before, &:after
          display: none
      &__text
        max-width: 455px
      &__button
        top: 28px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -89px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -89px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    .card
      min-width: 49%
      height: 255px
  .footer
    &__input
      width: 48%
    &__contact
      &-form
        grid-column: 1/4
        width: 100%
    &__item
      &-wrapper
        margin-right: 0
    &__title
      &--margin-social-network
        max-width: 200px
@media (max-width: 576px)
  .hotel
    &-slider
      height: 179px
    &__slider
      margin-bottom: 20px
  .booking
    &__price, &__heading
      max-width: 119px
    &__description, &__num
      max-width: 80px
  .subscribe
    width: 100%
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
  .reviews
    padding-bottom: 50px
    &-slider
      &__text
        max-width: 219px
  .activities
    padding-bottom: 50px
    &__card:nth-child(1)
      order: 1
    &__card:nth-child(2)
      order: 3
    &__card:nth-child(3)
      order: 2
    &__card:nth-child(4)
      order: 4
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
    .card
      min-width: 100%
      &__button
        max-width: 100%
  .footer
    padding-top: 67px
    &__input
      width: 100%
    &-wrapper
      grid-template-columns: 1fr
      row-gap: 28px
    &__logo
      width: 97px
      &-wrapper
        grid-row: 1
        grid-column: 1
    &__social
      &-network
        flex-wrap: wrap
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__title
      flex-basis: 100%
      &--margin-social-network
        margin: 0 0 23px 0
        min-width: 100%
      &--margin-contact-details
        margin-bottom: 23px
      &--margin-contact
        margin-top: 30px
        margin-bottom: 15px
    &__text
      margin-bottom: 20px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__icon
      margin-top: 4px
      margin-left: 4px
      &-wrapper
        min-width: 30px
    &__item
      &-wrapper
        margin-bottom: 10px
      &--margin-map
        margin-bottom: 22px
    &__input
      order: 1
    &__message
      order: 2
      margin-bottom: 15px
    &__button
      order: 4
    &__info
      order: 3
      flex-basis: 100%
      margin-bottom: 15px
    &__policy
      flex-wrap: wrap
      margin-top: 29px
      &-item
        margin-right: 9px
      &-item:last-child
        margin-right: 0
        &-image
          width: 136px
          height: 22px
          flex-shrink: 0
