.footer
  background-color: $dark
  color: $light
  padding-top: 109px
  padding-bottom: 46px
  &-wrapper
    display: grid
    grid-template-columns: minmax(140px, 265px) minmax(152px, 265px) minmax(264px, 325px) 195px
    column-gap: 20px
    row-gap: 21px
    grid-auto-rows: minmax(40px, min-content)
    align-items: start
  &__wrapper-logo
    grid-row: 1 / 3
  &__logo
    margin-top: 32px
    width: 151px
  &__categories
    grid-row: 1 / 4
  &__additional
  &__social
    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
    &-network
      display: flex
      align-items: center
      grid-row: 2 / 4
      grid-column: span 2
  &__contact
    &-details
      grid-column: span 2
    &-form
      grid-column: span 2
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 20px 0
    text-transform: uppercase
    &--margin-social-network
      max-width: 410px
      margin: 3px 44px 0 0
    &--margin-contact-details
      margin-left: -5px
      margin-top: 9px
      margin-bottom: 25px
    &--margin-contact
      margin-top: -2px
      margin-bottom: 34px
    &--margin
      &-legal,
      &-additional
        margin-bottom: 17px
  &__item
    display: flex
    align-items: flex-start
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
    &--margin-map
      margin-bottom: 14px
    &--margin-phone-call
      margin-bottom: 22px
  &__wrapper-link-phone
    width: 90%
  &__link-phone
    margin: 0
  &__phone
    color: inherit
    text-decoration: none
  &__icon
    margin-top: 5px
    margin-left: 3px
    &-wrapper
      min-width: 40px
  &__text
    color: $footer-text-color
    margin: 0 0 21px -4px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
  &__link
    text-decoration: none
    color: inherit
  &__input
    width: 100%
    &-group
      position: relative
      width: 255px
      min-height: 50px
  &__message
    width: 100%
    min-height: 123px
    margin-top: 15px
    margin-bottom: 22px
  &__button
    min-width: 160px
    min-height: 50px
    padding: 18px
    cursor: pointer
    font-size: 12px
    line-height: 15px
  &__info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $footer-text-info
  &__policy
    margin-top: 95px
    display: flex
    justify-content: flex-end
    align-items: center
    &-item
      margin-right: 13px
      text-decoration: none
      color: inherit
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
  &__item-wrapper
    display: flex
    justify-content: space-between
    margin-right: 265px
