.other-packages
  padding: 40px 0 70px
  &__title
    max-height: 135px
    overflow: auto
    margin-top: 0
    margin-bottom: 63px
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: minmax(min-content, max-content)
    column-gap: 30px
    row-gap: 30px
  &__stars
    margin-left: -2px
    margin-bottom: 3px
    margin-top: 1px
  &__star
      margin-left: 1px
  &-card
    display: flex
    flex-direction: column
    border-radius: 8px
    overflow: hidden
    position: relative
    &__wrapper-image
      width: 100%
      height: 250px
      overflow: hidden
      &--big
        width: 50%
        min-height: 100%
    &__image
      width: 100%
      height: 100%
      object-fit: cover
      z-index: 50
    &__offer
      max-width: 110px
      max-height: 38px
      overflow: hidden
      top: 26px
      left: 0
      padding: 4px 9px
      background-color: $primary
      position: absolute
      font-weight: 600
      font-size: 8px
      line-height: 10px
      border-radius: 0px 4px 4px 0px
      &--big
        padding: 8px 22px 7px 11px
        font-size: 12px
        line-height: 15px
    &__info 
      flex-grow: 1
      padding: 30px 20px 25px 32px
      background-color: $dark
      &--big
        width: 50%
        height: 100%
        padding: 41px 21px 30px 46px
    &__card-title
      max-height: 69px
      overflow: auto
      margin: 0 0 24px 0
      font-weight: bold
      font-size: 18px
      line-height: 23px
      &--margin
        margin-bottom: 29px
        margin-left: -1px
    &__description
      max-height: 30px
      overflow: auto
      width: 88%
    &__long-description
      max-height: 154px
      overflow: auto
      font-size: 14px
      line-height: 160.6%
      margin-bottom: 44px
    &__text
      display: flex
      align-items: center
      margin-bottom: 11px
      &:last-child
        margin-bottom: 0
    &__room
      display: flex
      flex-direction: column
      margin-bottom: 25px
      &--margin
        margin-bottom: 37px
        margin-left: 1px
    &__icon
      margin-right: 14px
    &__old-price
      display: inline-block
      max-width: 132px
      max-height: 56px
      overflow: auto
      font-size: 14px
      line-height: 18px
      text-decoration: line-through 1px $light
    &__book-now
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: -4px
    &__pricetag
      max-height: 90px
      overflow: auto
      font-weight: bold
      font-size: 24px
      line-height: 30px
      max-width: 107px
    &__button
      max-height: 59px
      overflow: hidden
      padding: 11px 27px 10px 26px
      font-family: Nunito, sans-serif
      font-size: 14px
      line-height: 19px
      max-width: 123px
      cursor: pointer
  &__card
    &-main
      grid-column: span 2
      grid-row: 1
      &--big
        flex-direction: row
